@font-face {
    font-family: SegoeUI;
    src: url(./resources/segoeui.ttf)
}

* {
    margin: 0px;
    padding: 0px;
}

/* Temporary overlay of the task for development purposes */
.template {
    position: relative;
}

.template img {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.4;
}
/*                     */

.calculator {
    background-color: rgba(207, 229, 252, 0.7);
    border: 1px solid red;
    width: 446px;
    height: 430px;
    border-radius: 7px;
    font-family: SegoeUI, sans-serif;
    font-size: 13px
}

/* WINDOW TITLE */
.window-title {
    display: inline-block;
}

.window-title__icon {
    display: inline-block;
    padding: 6px 0 0 9px;
}

.window-title__label {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 4px;
}

/* WINDOW BUTTONS */
.window-buttons {
    display: inline-block;
    float: right;
    padding: 0 9px 0 0;
}

.window-buttons__minimize {
    margin-right: -4px;
    display: inline-block;
    padding: 0 8px 1px 7px;
    border: 1px solid #747B85;
    border-radius: 0 0 0 4px;
    background: #e6f1fa;
    background: -moz-linear-gradient(top, #e6f1fa 0%, #cfdbe7 33%, #a7b8ca 66%, #b2c3da 100%);
    background: -webkit-linear-gradient(top, #e6f1fa 0%,#cfdbe7 33%,#a7b8ca 66%,#b2c3da 100%);
    background: linear-gradient(to bottom, #e6f1fa 0%,#cfdbe7 33%,#a7b8ca 66%,#b2c3da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1fa', endColorstr='#b2c3da',GradientType=0 );
    opacity: 0.8;
}

.window-buttons__restore-down {
    margin-right: -4px;
    display: inline-block;
    padding: 0 8px 1px 8px;
    border: 1px solid #747B85;

    background: #e6f1fa;
    background: -moz-linear-gradient(top, #e6f1fa 0%, #cfdbe7 33%, #a7b8ca 66%, #b2c3da 100%);
    background: -webkit-linear-gradient(top, #e6f1fa 0%,#cfdbe7 33%,#a7b8ca 66%,#b2c3da 100%);
    background: linear-gradient(to bottom, #e6f1fa 0%,#cfdbe7 33%,#a7b8ca 66%,#b2c3da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1fa', endColorstr='#b2c3da',GradientType=0 );
    opacity: 0.8;
}

.window-buttons__close {
    margin-right: -4px;
    display: inline-block;
    padding: 0 18px 1px 19px;
    border: 1px solid #747B85;
    border-radius: 0 0 4px 0;
    background: #ed8a80;
    background: -moz-linear-gradient(top, #ed8a80 0%, #dd6452 33%, #c6230d 66%, #cc553d 100%);
    background: -webkit-linear-gradient(top, #ed8a80 0%,#dd6452 33%,#c6230d 66%,#cc553d 100%);
    background: linear-gradient(to bottom, #ed8a80 0%,#dd6452 33%,#c6230d 66%,#cc553d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8a80', endColorstr='#cc553d',GradientType=0 );
    opacity: 0.8;
}

.window-buttons--disabled img {
    opacity: 0.4;
}

.window-buttons__minimize:hover,
.window-buttons__close:hover {
    opacity: 1.0;
}

/* WINDOW CONTAINER */
.window-container {
    width: 432px;
    height: 388px;
    margin: 3px 0 0 6px;
    border: 2px solid #747B85;
    border-radius: 3px;
    background: #e5eefb;
    background: -moz-linear-gradient(top, #e5eefb 0%, #dae5f2 21%, #d9e4f1 100%);
    background: -webkit-linear-gradient(top, #e5eefb 0%,#dae5f2 21%,#d9e4f1 100%);
    background: linear-gradient(to bottom, #e5eefb 0%,#dae5f2 21%,#d9e4f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eefb', endColorstr='#d9e4f1',GradientType=0 );
}

.menubar {
    border-bottom: 1px solid #747B85;
    height: 20px;
}

.menubar__menu-item {
    display: inline-block;
    padding: 0 2px 0 6px;
    list-style-type: none;
    font-size: 14px;
}

.menubar__menu-item::first-letter {
    text-decoration: underline;
}

/* RESULT AREA */
.result-area {
    border: 1px solid #747B85;
    border-radius: 3px;
    margin: 12px 11px 0 11px;
    height: 54px;
    background: #e5eefb;
    background: -moz-linear-gradient(top, #e5eefb 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #e5eefb 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #e5eefb 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eefb', endColorstr='#ffffff',GradientType=0 );
    text-align: right;
}

.result-area__result-item {
    display: inline-block;
    padding: 14px 5px 0 0;
    font-size: 24px;
    letter-spacing: 1px;
}

/* BINARY AREA */
.binary-area {
    border: 1px solid #747B85;
    border-radius: 3px;
    margin: 5px 11px 0 11px;
    height: 64px;
    font-family: Consolas;
    font-size: 14px;
}

.binary-area__data-row {
    display: inline-block;
    height: 14px;
    padding: 0 0 0 8px;
}

.binary-area__data-item {
    padding: 0 12px 0 0;
}

.binary-area__service-row {
    text-align: right;
}

.binary-area__info-item {
    color: #6A6461;
}

.binary-area__info-item--left {
    float: left;
    padding-left: 8px;
}

.binary-area__info-item--center {
    float: left;
    padding-left: 187px;
}

.binary-area__info-item--right {
    float: right;
    padding-right: 12px;
}
