@font-face {
    font-family: SegoeUI;
    src: url(./resources/segoeui.ttf)
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  	color: #062449;
}

*:hover {
    cursor:default;
}

/* Temporary overlay of the task for development purposes */
.template {
    position: absolute;
    left: 0px;
    top: 0px;
}

.template img {
    position: relative;
    left: 0px;
    top: 0px;
    opacity: 0.0;
}
/*                     */

.calculator {
    background-color: rgba(207, 229, 252, 0.6);
    border: 1px solid #D9E4F1;
    width: 446px;
    height: 430px;
    border-radius: 7px;
    font-family: SegoeUI, sans-serif;
    font-size: 13px
}

/* WINDOW TITLE */
.window-title {
    display: inline-block;
}

.window-title__icon {
    display: inline-block;
    padding: 6px 0 0 9px;
}

.window-title__label {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 4px;
}

/* WINDOW BUTTONS */
.window-buttons {
    display: inline-block;
    float: right;
    padding: 0 9px 0 0;
}

.window-buttons__minimize {
    margin-right: -4px;
    display: inline-block;
    padding: 0 8px 1px 7px;
    border: 1px solid #747B85;
    border-top: none;
    border-radius: 0 0 0 4px;
    background: #e6f1fa;
    background: -moz-linear-gradient(top, #e6f1fa 0%, #cfdbe7 33%, #a7b8ca 66%, #b2c3da 100%);
    background: -webkit-linear-gradient(top, #e6f1fa 0%,#cfdbe7 33%,#a7b8ca 66%,#b2c3da 100%);
    background: linear-gradient(to bottom, #e6f1fa 0%,#cfdbe7 33%,#a7b8ca 66%,#b2c3da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1fa', endColorstr='#b2c3da',GradientType=0 );
    opacity: 0.7;
}

.window-buttons__restore-down {
    margin-right: -4px;
    display: inline-block;
    padding: 0 8px 1px 8px;
    border: 1px solid #747B85;
    border-top: none;
    background: #e6f1fa;
    background: -moz-linear-gradient(top, #e6f1fa 0%, #cfdbe7 33%, #a7b8ca 66%, #b2c3da 100%);
    background: -webkit-linear-gradient(top, #e6f1fa 0%,#cfdbe7 33%,#a7b8ca 66%,#b2c3da 100%);
    background: linear-gradient(to bottom, #e6f1fa 0%,#cfdbe7 33%,#a7b8ca 66%,#b2c3da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1fa', endColorstr='#b2c3da',GradientType=0 );
    opacity: 0.5;
}

.window-buttons__close {
    margin-right: -4px;
    display: inline-block;
    padding: 0 18px 1px 19px;
    border: 1px solid #747B85;
    border-top: none;
    border-radius: 0 0 4px 0;
    background: #ed8a80;
    background: -moz-linear-gradient(top, #ed8a80 0%, #dd6452 33%, #c6230d 66%, #cc553d 100%);
    background: -webkit-linear-gradient(top, #ed8a80 0%,#dd6452 33%,#c6230d 66%,#cc553d 100%);
    background: linear-gradient(to bottom, #ed8a80 0%,#dd6452 33%,#c6230d 66%,#cc553d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8a80', endColorstr='#cc553d',GradientType=0 );
    opacity: 0.8;
}

.window-buttons--disabled img {
    background-color: rgba(100, 100, 100, 0.3)
}

.window-buttons__minimize:hover,
.window-buttons__close:hover {
    opacity: 1.0;
}

/* WINDOW CONTAINER */
.window-container {
    width: 432px;
    height: 388px;
    margin: 3px 0 0 6px;
    border: 2px groove #747B85;
    border-radius: 3px;
    background: #e5eefb;
    background: -moz-linear-gradient(top, #e5eefb 0%, #dae5f2 21%, #d9e4f1 100%);
    background: -webkit-linear-gradient(top, #e5eefb 0%,#dae5f2 21%,#d9e4f1 100%);
    background: linear-gradient(to bottom, #e5eefb 0%,#dae5f2 21%,#d9e4f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eefb', endColorstr='#d9e4f1',GradientType=0 );
}

.menubar {
    border-bottom: 1px solid #747B85;
    height: 20px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e9edf6 28%, #e7ebf6 33%, #dae0f0 39%, #d3daed 44%, #e0e5f5 94%, #e3e8f8 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9edf6 28%,#e7ebf6 33%,#dae0f0 39%,#d3daed 44%,#e0e5f5 94%,#e3e8f8 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e9edf6 28%,#e7ebf6 33%,#dae0f0 39%,#d3daed 44%,#e0e5f5 94%,#e3e8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e8f8',GradientType=0 );
}

.menubar__menu-item {
    display: inline-block;
    padding: 0 2px 0 6px;
    border: 1px ;
    list-style-type: none;
    font-size: 14px;
}

.menubar__menu-item:hover {
    border: 1px double black;
    margin: -1px;
    border-radius: 2px;
    background-color: rgba(100, 100, 100, 0.1);
    cursor: default;
}

.menubar__menu-item:active {
    border: 1px inset black;
    margin: -1px;
    border-radius: 2px;
    background-color: rgba(100, 100, 100, 0.2);
    cursor: default;
}

.menubar__menu-item::first-letter {
    text-decoration: underline;
}

/* RESULT AREA */
.result-area {
    border: 1px solid #747B85;
    border-radius: 3px;
    margin: 12px 11px 0 11px;
    height: 54px;
    background: #e5eefb;
    background: -moz-linear-gradient(top, #e5eefb 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #e5eefb 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #e5eefb 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eefb', endColorstr='#ffffff',GradientType=0 );
    text-align: right;
}

.result-area__result-item {
    display: inline-block;
    padding: 14px 5px 0 0;
    font-size: 24px;
    letter-spacing: 1px;
}

/* BINARY AREA */
.binary-area {
    border: 1px solid #747B85;
    border-radius: 3px;
    margin: 5px 11px 0 11px;
    height: 64px;
    font-family: Consolas;
    font-size: 14px;
}

.binary-area__data-row {
    display: inline-block;
    height: 14px;
    padding: 0px 0 0 5px;
}

.binary-area__data-item {
    padding-right: 11px;
}

.binary-area__service-row {
    text-align: right;
    margin-top: -3px;
}

.binary-area__info-item {
    color: #6A6461;
}

.binary-area__info-item--left {
    float: left;
    padding-left: 5px;
}

.binary-area__info-item--center {
    float: left;
    padding-left: 187px;
}

.binary-area__info-item--right {
    float: right;
    padding-right: 12px;
}

.radio-container {
    display: block;
    float: left;
    width: 70px;
}

.num-system-radio {
    display: block;
    float: left;
    margin: 7px 0 0 10px;
    border-radius: 3px;
    width: 70px;
    height: 93px;
    border: 1px double #747B85;
    padding: 6px 0 0 6px;
}

.num-system-radio__radio {
    display: inline-block;
    margin-top: 5px;
}

.num-system-radio__label  {
    display: inline-block;
    vertical-align: top;
    padding-top: 1px;
}

.byte-radio {
    display: block;
    float: left;
    margin: 6px 0 0 10px;
    border-radius: 3px;
    width: 70px;
    height: 93px;
    border: 1px double #747B85;
    padding: 6px 0 0 6px;
}

.byte-radio__radio {
    display: inline-block;
    margin-top: 5px;
}

.byte-radio__label  {
    display: inline-block;
    vertical-align: top;
    padding-top: 1px;
}

.buttons-grid {
    float: left;
    width: 328px;
    height: 208px;
    margin-left: 24px;
    margin-top: 7px;
}

.buttons-col {
    display: block;
    float: left;
    width: 35px;
    margin-right: 6px;
}

.buttons-grid__button {
    width: 34px;
    height: 27px;
    margin-left: 2px;
    margin-bottom: 6.7px;
    list-style: none;
}

.buttons-grid__horizontal-button {
    width: 75px;
    height: 27px;
    margin-left: 2px;
    margin-bottom: 6.7px;
    list-style: none;
}

.buttons-grid__vertical-button {
    width: 34px;
    height: 63px;
    margin-left: 2px;
    margin-bottom: 6.7px;
    list-style: none;
}

.buttons-grid__button--service {
    border: 1px double #8798AB;
    border-radius: 3px;
    background: #fcffff;
    background: -moz-linear-gradient(top, #fcffff 0%, #eff5fb 4%, #e4ebf4 42%, #e0e9f2 46%, #d5e0ed 50%, #d5e0ed 62%, #d5e0ee 96%, #fdffff 100%);
    background: -webkit-linear-gradient(top, #fcffff 0%,#eff5fb 4%,#e4ebf4 42%,#e0e9f2 46%,#d5e0ed 50%,#d5e0ed 62%,#d5e0ee 96%,#fdffff 100%);
    background: linear-gradient(to bottom, #fcffff 0%,#eff5fb 4%,#e4ebf4 42%,#e0e9f2 46%,#d5e0ed 50%,#d5e0ed 62%,#d5e0ee 96%,#fdffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcffff', endColorstr='#fdffff',GradientType=0 );
}

.buttons-grid__button--service:hover{
    border: 1px double #FBE34C;
    border-radius: 3px;
    background: #fffbff;
    background: -moz-linear-gradient(top, #fffbff 0%, #fef3e8 4%, #fef0e0 8%, #fde4cb 42%, #fce1bc 46%, #fbd073 50%, #fbd37c 62%, #fbda80 73%, #fbea8c 88%, #fbf198 92%, #fcf6bc 96%, #fffff3 100%);
    background: -webkit-linear-gradient(top, #fffbff 0%,#fef3e8 4%,#fef0e0 8%,#fde4cb 42%,#fce1bc 46%,#fbd073 50%,#fbd37c 62%,#fbda80 73%,#fbea8c 88%,#fbf198 92%,#fcf6bc 96%,#fffff3 100%);
    background: linear-gradient(to bottom, #fffbff 0%,#fef3e8 4%,#fef0e0 8%,#fde4cb 42%,#fce1bc 46%,#fbd073 50%,#fbd37c 62%,#fbda80 73%,#fbea8c 88%,#fbf198 92%,#fcf6bc 96%,#fffff3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbff', endColorstr='#fffff3',GradientType=0 );
}

.buttons-grid__button--digit {
    border: 1px double #8798AB;
    border-radius: 3px;
    background: #fdffff;
    background: -moz-linear-gradient(top, #fdffff 0%, #f7fbff 4%, #f1f5f9 38%, #edf3f8 46%, #e8eef5 50%, #e7eef5 54%, #edf5fb 96%, #f9ffff 100%);
    background: -webkit-linear-gradient(top, #fdffff 0%,#f7fbff 4%,#f1f5f9 38%,#edf3f8 46%,#e8eef5 50%,#e7eef5 54%,#edf5fb 96%,#f9ffff 100%);
    background: linear-gradient(to bottom, #fdffff 0%,#f7fbff 4%,#f1f5f9 38%,#edf3f8 46%,#e8eef5 50%,#e7eef5 54%,#edf5fb 96%,#f9ffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdffff', endColorstr='#f9ffff',GradientType=0 );
}

.buttons-grid__button--digit:hover{
    border: 1px double #FBE34C;
    border-radius: 3px;
    background: #fffbff;
    background: -moz-linear-gradient(top, #fffbff 0%, #fef3e8 4%, #fef0e0 8%, #fde4cb 42%, #fce1bc 46%, #fbd073 50%, #fbd37c 62%, #fbda80 73%, #fbea8c 88%, #fbf198 92%, #fcf6bc 96%, #fffff3 100%);
    background: -webkit-linear-gradient(top, #fffbff 0%,#fef3e8 4%,#fef0e0 8%,#fde4cb 42%,#fce1bc 46%,#fbd073 50%,#fbd37c 62%,#fbda80 73%,#fbea8c 88%,#fbf198 92%,#fcf6bc 96%,#fffff3 100%);
    background: linear-gradient(to bottom, #fffbff 0%,#fef3e8 4%,#fef0e0 8%,#fde4cb 42%,#fce1bc 46%,#fbd073 50%,#fbd37c 62%,#fbda80 73%,#fbea8c 88%,#fbf198 92%,#fcf6bc 96%,#fffff3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbff', endColorstr='#fffff3',GradientType=0 );
}

.buttons-grid__button--memory {
    border: 1px double #8798AB;
    border-radius: 3px;
    background: #f3f7fb;
    background: -moz-linear-gradient(top, #f3f7fb 0%, #d5e1ed 4%, #d4e0ed 8%, #d4e0ee 96%, #ecf2f9 100%);
    background: -webkit-linear-gradient(top, #f3f7fb 0%,#d5e1ed 4%,#d4e0ed 8%,#d4e0ee 96%,#ecf2f9 100%);
    background: linear-gradient(to bottom, #f3f7fb 0%,#d5e1ed 4%,#d4e0ed 8%,#d4e0ee 96%,#ecf2f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f7fb', endColorstr='#ecf2f9',GradientType=0 );
}

.buttons-grid__button--memory:hover{
    border: 1px double #FBE34C;
    border-radius: 3px;
    background: #f3f7fb;
    background: -moz-linear-gradient(top, #f3f7fb 0%, #fde7cf 5%, #fde7cf 96%, #ecf2f9 100%);
    background: -webkit-linear-gradient(top, #f3f7fb 0%,#fde7cf 5%,#fde7cf 96%,#ecf2f9 100%);
    background: linear-gradient(to bottom, #f3f7fb 0%,#fde7cf 5%,#fde7cf 96%,#ecf2f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f7fb', endColorstr='#ecf2f9',GradientType=0 );
}

.buttons-grid__button--disabled {
    border: 1px double #95A3B3;
    border-radius: 3px;
    background-color: #D9E4F1;
}

.buttons-grid__label {
    float: middle;
    display: block;
    text-align: center;
    margin-top: 3px;
    font-size: 13px;
}

.buttons-grid__label--large {
    font-size: 15px;
}

.buttons-grid__label--vertical {
    line-height: 50px;
    font-size: 20px;
}
