@font-face {
    font-family: 'EdwardianScriptITC';
    src: url(./resources/EdwardianScriptITC.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    margin-top: 30px;
    padding-left: 10px;
}

body {
    width: 1000px;
    color: #0094ff;
    background-color: #fff;
    font-family: Consolas, monospace;
    font-size: 22px;
    line-height: 26px;
}

.lorem::first-line {
    width: 980px;
    font-weight: bold;
    line-height: 50px;
}

.lorem::first-letter {
    font-family: 'EdwardianScriptITC';
    font-size: 300%;
}
